<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email Verification from Workase</title>
  </head>
  <body>
    <p>Excuse me, i send an email to verify your account</p>
    <p>Please to verify your account before 1 hour from this message recieved</p>
    <p>Click here to verify your account :
      <a
        href='http://localhost:3000/email-verification/{{token}}'
      >Verify</a></p>
  </body>
</html>