<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reset Password from Workase</title>
  </head>
  <body>
    <p>Excuse me, i send an email to reset your password account</p>
    <p>Please to reset your password account before 1 hour from this message
      recieved</p>
    <p>Click here to reset your password account :
      <a href='http://localhost:3000/reset-password/{{token}}'>Reset Password</a></p>
  </body>
</html>