<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email Confirmation</title>
  </head>
  <body>
    <p>Excuse me, i send an email to verify your account</p>
    <p>Click here to verify your account : http://localhost:3000/passRecovery/{{token}}</p>
  </body>
</html>